{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
<div class="accountForm">
    <br><p></p><br><p></p><br><p></p><br><p></p>
  <h1>{% block title %}{% trans "Disable Two-factor Authentication" %}{% endblock %}</h1>
  <p></p><br>
  <p>{% blocktrans trimmed %}You are about to disable two-factor authentication, are you sure?{% endblocktrans %}</p>
  <form method="post">
    {% csrf_token %}
    <table>{{ form }}</table>
    <p></p><br>
    <button class="btn btn-danger"
            type="submit">{% trans "Disable" %}</button>
  </form>
  </div>
{% endblock %}
