{% extends "UWEFlix/placeholder.html" %}
{% block title %}
UWEFlix movies
{% endblock %}
{% block content %}
{% load static %}

{% block widgets %}
{% endblock %}

<div class="album py-5 bg-light">
    <div class="container">

        <a id="films"></a>
        <h2 class="fw-light text-center">Movies</h2>

        {% if movies_list %}
        {% for row in movies_list %}

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for movie in row %}
            <div class="col">
                <div class="card shadow-sm">
                    <img class="card-img-top" src="{{ movie.image_URL }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"> {{ movie.title}}</h5>
                        <p class="card-text"> {{ movie.short_description}} </p>
                        <div class="d-flex justify-content-between align-items-center">
                            
                            <small class="text-muted"> {{ movie.duration }} minutes</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center">No movies currently available.</p>
        {% endif %}
    </div>
</div>
<hr />
</main>
{% endblock %}