{% extends "UWEFlix/management.html" %}
<!--Title of the page  -->
{% block title %}Film Management{% endblock %}

<!-- This should include the url to the form for adding a new item to the database -->
{% block addLink %}{% url 'add_film' %}{% endblock %}
{% block addMessage %}Add a film!{% endblock %}

<!--These are the column names for the table -->
{% block fieldOne %}<th>Title</th>{% endblock %}
{% block fieldTwo %}<th>Description</th>{% endblock %}
{% block fieldThree %}<th>Duration</th>{% endblock %}
{% block fieldFour %}<th>Upload date</th>{% endblock %}

<!-- These are the records in our table pulled from the database -->
{% block dbObjects %}
{% for film in filmList %}
  <tr>
    <td>{{film.title}}</td>
    <td>{{film.short_description}}</td>
    <td>{{film.duration}}</td>
    <td>{{film.upload_date}}</td>
    <td><a class="btn btn-sm btn-outline-info" href="{% url 'update_film' film.title %}">Update</a></td>
    <td><a class="btn btn-sm btn-outline-danger" href="{% url 'remove_film' film.title %}">Delete</a></td>
  </tr>
{% endfor %}
{% endblock %}