{% extends "UWEFlix/film_home.html" %}
{% block widgets %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to UWEFlix Cinema Management</h1>
            <p class="lead text-muted">
                Choose a film. Select a timing. Book your seats. Grab the popcorn!
            </p>
            <p>
                <a href="#films" class="btn btn-primary my-2">View movies</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}