{% extends "UWEFlix/placeholder.html" %}
{% block content %}
  <body>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container py-5">
          <h1 class="jumbotron-heading">{% block title %}{% endblock %}&nbsp;&nbsp;</h1>
		    
        </div>
        <div class="album py-5 bg-light">
          <p class="border-middlePage">
              <a class="btn btn-primary  btn-sm btn-block" href="{% block addLink %}{% endblock %}">{% block addMessage %}{% endblock %}</a>
            <!-- <div class="card card-body"> -->
             
              <table class="table table-sm table-hover">
                <thead>
                  {% block fieldOne %}{% endblock %}
                  {% block fieldTwo %}{% endblock %}
                  {% block fieldThree %}{% endblock %}
                  {% block fieldFour %}{% endblock %}
                  {% block fieldFive %}{% endblock %}
                  {% block fieldSix %}{% endblock %}
				        {% block fieldSeven %}{% endblock %}
                {% block fieldEight %}{% endblock %}
                  <th>Update</th>
                  <th>Remove</th>
              </thead>
              <tbody>
                {% block dbObjects %}
                {% endblock %}
                </tbody>
              </table>
            <!-- </div>  -->
        </div>
      </section>
      
    </main>
  </body>
{% endblock %}