{% extends "UWEFlix/management.html" %}
<!--Title of the page  -->
{% block title %}Showing{% endblock %}

<!-- This should include the url to the form for adding a new item to the database -->
{% block addLink %}{% url 'log_showing' %}{% endblock %}
{% block addMessage %}Add a Showing{% endblock %}

<!--These are the column names for the table -->
{% block fieldOne %}<th>Date</th>{% endblock %}
{% block fieldTwo %}<th>Time</th>{% endblock %}
{% block fieldThree %}<th>Capacity</th>{% endblock %}
{% block fieldFour %}<th>Film</th>{% endblock %}
{% block fieldFive %}<th>Screen</th>{% endblock %}
{% block fieldSix %}<th>Taken tickets</th>{% endblock %}


<!-- These are the records in our table pulled from the database -->
{% block dbObjects %}
{% for showing in showingList %}
  <tr>
	<td>{{showing.date}}</td>
    <td>{{showing.time}}</td>
    <td>{{showing.screen.capacity}}</td>
    <td>{{showing.film}}</td>
	<td>{{showing.screen}}</td>
    <td>{{showing.taken_tickets}}</td>
	<!--<td>{{tickets_remaining}}</td>-->
    <td><a class="btn btn-sm btn-outline-info" href="{% url 'updateShowings' showing.id %}">Update</a></td>
    <td><a class="btn btn-sm btn-outline-danger" href="{% url 'removeShowings' showing.id %}">Delete</a></td>

  </tr>
{% endfor %}
{% endblock %}